severity = 1

exclude = RequireTidyCode RequirePodSections ProhibitPostfixControls RequireRcsKeywords RequireExplicitPackage ProhibitUnlessBlocks ProhibitBuiltinHomonyms RequireCleanNamespace RequireUseStrict RequireUseWarnings Variables::ProhibitPunctuationVars RegularExpressions::RequireDotMatchAnything RegularExpressions::RequireExtendedFormatting RegularExpressions::RequireLineBoundaryMatching RequirePodAtEnd Moose::ProhibitMultipleWiths NamingConventions::Capitalization ProhibitMagicNumbers Documentation::RequirePodLinksIncludeText

include = Moose::ProhibitNewMethod Moose::RequireMakeImmutable CodeLayout::ProhibitTrailingWhitespace

color = 1
verbose = 9

[BuiltinFunctions::ProhibitStringyEval]
allow_includes = 1

[CodeLayout::ProhibitTrailingWhitespace]

[Documentation::PodSpelling]
stop_words = HashRef ArrayRef Str Objdump perl FILENAME FilterField ElfSection ENUM disassembly Bool Undef RegexpRef objdump objdump's FileHandle acknowledgements

[NamingConventions::ProhibitAmbiguousNames]
forbid = abstract bases close contract last left no record right second
